body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fffdf5;
}

.hollow-text {
    font-size: 10em;
    font-weight: bold;
}

.hollow-text:hover {
    -webkit-text-stroke: 1px red;
    color: transparent;
}

header {
    position: fixed;              
    width: 100%;   
    background: #0b6425;
    padding: 10px 0;
    top: 0;
    z-index: 1000;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

header.blurred {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: all 0.4s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 140px;
    height: 80px;
}

.logo h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Stanwick', sans-serif;
}

.sanddunes {
    color: #C83227;
}

.snackhouse {
    color:#D8863A;
}

.nav-links {
    flex-flow: wrap;
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: #D8863A;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links.active {
    color: red;
    transition: color 0.3s ease;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger:hover {
    color: red;
    transition: 0.3s;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.menu-section {
  margin-top: 150px;
}

.menu-title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    color: red;
    font-family: 'GEMSEAtrial', sans-serif; 
}

.menu-title:hover {
    color: green;
}

.home-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    overflow: hidden; 
    padding: 100px 60px 80px;
    grid-auto-rows: auto;           
    max-height: calc(3 * (auto + 40px));              
}

.card {
    color: white;
    background: green;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, background 0.3s ease;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.card h2 {
    color: white;
    text-align: center;
    font-size: 22px;
    margin: 10px 0 10px;
}

.card p {
    padding: 0 20px 25px;
    color: #f2f2f2;
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.6;
}

.card:hover {
    background: green;
    transform: translate(-8px);
}

footer {
    background: red;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    border-top: 2px solid gray;
}

@media (max-width: 768px) {
.menu-section {
  margin-top: 150px;
}

.menu-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'GEMSEAtrial', sans-serif; 
}

.home-grid {
    padding: 20px 20px;
    align-items: flex-start;
  }

.card img {
    max-inline-size: 100%;
  }

.card h2 {
    font-size: 18px;
  }

.card p {
    font-size: 14px;
    text-align: center;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #D8863A;
    margin: 5px 0;
    transition: 0.3s;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    z-index: 1000;
    padding-left: 80px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .nav-links a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    z-index: 1000;
  }

  .nav-links a:hover {
    color: red;
    transition: 0.3s;
  }

  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }
}